<div class="card shadow">
    <p class="h4 card-header">User Details</p>
    <div class="card-body bg-light">
        <div class="d-flex align-items-center flex-sm-row flex-column">

            <img class="img-responsive rounded mg-thumbnail d-block" src="assets/photo.jpg" alt="Card image cap">

            <div class="mt-xs-4 ml-sm-3">
                <p>username: {{user.username}}</p>
                <p>role: {{user.role}}</p>
                <p>email: {{user.email}}</p>
                <p>mobileNumber: {{user.mobileNumber}}</p>
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <a routerLink="/user/update-user"><button class="btn btn-danger ml-2 card-text">Update Details</button></a>
        </div>
    </div>